.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.productos-home {
  padding: 40px 50px;
  background: var(--crema);
}

.productos-home h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin-bottom: 30px;
}

.producto {
  display: flex;
  flex-direction: column;   /* organizar en columna */
  justify-content: space-between; /* empujar contenido y botón */
  background: var(--blanco);
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  height: 500px;           /* altura fija para todas las tarjetas */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.producto button {
  margin-top: auto;        /* empuja el botón al final */
  background: var(--rosa);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.producto img {
  width: 100%;         /* ocupa todo el ancho del contenedor */
  height: 200px;       /* alto fijo */
  object-fit: cover;   /* recorta la imagen para que no se deforme */
  border-radius: 12px; /* esquinas redondeadas */
}

.producto h3 {
  font-family: 'Quicksand', sans-serif;
  margin: 10px 0 5px 0;
  font-size: 1.1rem;
}

.producto .precio {
  font-weight: bold;
  margin-bottom: 10px;
}



.producto button:hover {
  background: var(--marron);
}